.vertical {
    margin: 5%;
    min-width: 45px;
    height: 200 px;    
    
}

.textformat {
    margin: 5%;
    font-size: 2ch;
    padding: 2%;
    background-color: wheat;
    
}

.recipe {
    align-content: center;
    margin-left: 45%;
    
}

.link {
    position: fixed;
    top: 4%;
    right: 4%;
    color: black;
    font-size: 2ch;
    
}